[Unit]
Description=Ngrok
After=NetworkManager.service

[Service]
Type=simple
User=gigabyte
WorkingDirectory=/home/gigabyte
ExecStart=/home/gigabyte/ngrok start --all --config="/home/gigabyte/.ngrok2/ngrok.yml"
Restart=on-failure

[Install]
WantedBy=multi-user.target
