[Unit]
Description=Ngrok
After=NetworkManager.service

[Service]
Type=simple
User=tinyhci
WorkingDirectory=/home/tinyhci
ExecStart=/home/tinyhci/ngrok start --all --config="/home/tinyhci/.ngrok2/ngrok.yml"
Restart=on-failure

[Install]
WantedBy=multi-user.target
