[Unit]
Description=TinyGo HCI service
ConditionPathExists=/home/tinyhci/tinyhci/build/tinygohci
After=NetworkManager.service

[Service]
Type=simple
User=tinyhci

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/tinyhci/tinyhci
ExecStart=/home/tinyhci/tinyhci/build/tinygohci

# set the GHKEY value you need by using "sudo systemctl edit tinygohci" to edit the override file.
# see the service/README.md file for more details
Environment="GHKEY=1234"

[Install]
WantedBy=multi-user.target
