[Unit]
Description=TinyGo HCI service
ConditionPathExists=/home/upsquared/integration-tests/build/server
After=networking.service

[Service]
Type=simple
User=upsquared

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/upsquared/integration-tests
ExecStart=/home/upsquared/integration-tests/build/server

# set the GHKEY value you need by using "sudo systemctl edit tinygohci" to edit the override file.
# see the service/README.md file for more details
Environment="GHKEY=1234"

[Install]
WantedBy=multi-user.target
