[Unit]
Description=TinyGo HCI service
ConditionPathExists=/home/upsquared/integration-tests/build/server
After=network.target

[Service]
Type=simple
User=upsquared

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/upsquared/integration-tests
ExecStart=/home/upsquared/integration-tests/build/server

# set this to the value you need by using "sudo systemctl edit tinygohci" to edit the override file
EnvironmentFile=/etc/systemd/system/tinygohci.service.d/env

[Install]
WantedBy=multi-user.target
