# USB Hub
SUBSYSTEM=="usb", ATTRS{idVendor}=="2109", MODE="0666"

# Adafruit ItsyBitsy-M4
SUBSYSTEM=="tty", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="802b", SYMLINK+="itsybitsy_m4"

# Arduino Nano33
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="8057", SYMLINK+="arduino_nano33"

# Arduino Nano33 Bootloader
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0057", SYMLINK+="arduino_nano33"

# Arduino Uno
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0243", SYMLINK+="arduino_uno"

# Arduino Uno R3
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", SYMLINK+="arduino_uno"

# Microbit
SUBSYSTEM=="tty", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", SYMLINK+="microbit"

# HiFive1B JLink
SUBSYSTEM=="tty", ATTRS{idVendor}=="1366", SYMLINK+="jlink"

# HiFive1B UART adaptor
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="hifive1b"

# Adafruit Circuit Playground Express
SUBSYSTEM=="tty", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="8018", SYMLINK+="circuitplay_express"

# Adafruit Circuit Playground Express bootloader
SUBSYSTEM=="tty", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="0018", SYMLINK+="circuitplay_express"

# Sipeed MAix Bit
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", SYMLINK+="maixbit%E{ID_USB_INTERFACE_NUM}"
